<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/home.css" />
        <title>Indeestats - Compte-rendu étude statistiques </title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <!-- <img src="../static/img/Logo_indeestats.png" alt="Logo de Indeestats" />' -->
                        <h1>Indeestats</h1>
                    </div>
                    <h2>Statistiques & Intelligence avancée </h2>
                </div>

                <nav>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Etudes réalisées</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </nav>
            </header>

            <div id="banniere_image">
                <div id="banniere_description">
                    Cliquez ...
                    <a href="#" class="bouton_rouge">Quelques études <img src="../static/img/flecheblanchedroite.png" alt="" /></a>
                </div>
            </div>

            <section>
                <article>
                    <h1><img src="../static/img/ico_epingle.png" alt="Qui sommes-nous?" class="ico_categorie" />QUI SOMMES-NOUS ?</h1>

                    <div class="section">
                        <div id= "presentation">
                        <h2>PRESENTATION</h2>
                            <p>Le Cabinet d’études statistiques Indeestats est une équipe d’analystes expert de la statistique et du data training au service de la prise de décision et de l’action.
                            A partir d’un examen approfondi de votre projet, nous construisons une réponse singulière et optimisée en fonction des objectifs de l’étude et du budget alloué.</p>
                        </div>

                        <div id="equipe">
                        <h2>L'équipe</h2>
                            <p> Depuis sa récente création en 2019, Indeestats mène chaque étude et réalisation qui lui sont confiées en mode projet.
                                Pour chaque mission, Indeestats met en place une équipe projet, composée d'un membre de la direction Indeestats et de consultants experts. </p>
                        </div>


                        <div id="valeurs">
                        <h2>Nos valeurs</h2>
                            <p>Ces valeurs sont celles qui placent l’homme au centre de nos missions, nous permettent d’assumer notre responsabilité et notre contribution sociale au sein de
                            la Société et répondent à la confiance que placent en nous nos clients, notre personnel, nos fournisseurs, nos partenaires.</p>
                        </div>
                     </div>
                </article>
            </section>

            <container>
                <div id="enquete">
                    <h1>Enquête</h1>
                    <p>De la conception de votre enquête à l’analyse, Indeestats vous accompagne pour tout ou partie de votre projet.</p>
                </div>

                <div id="etudes">
                    <h1>Etudes</h1>
                    <p> Notre équipe d’experts de la statistique est à votre disposition pour examiner votre projet d’étude statistique. </p>
                </div>

                <div id="formation">
                    <h1>Formation</h1>
                    <p> Pour vos formations en inter-entreprise ou dans vos locaux, Indeestats vous propose un grand nombre de thèmes de formations.</p>
                </div>

                <div id="logiciels">
                    <h1>Logiciels</h1>
                    <p> Forte de son expérience en statistique et de sa connaissance des différents outils du marché, Indeestats est votre partenaire idéal pour votre équipement logiciel. </p>
                </div>

            </container>
        </div>
    </body>
</html>
